.grid{
  background-color: #f3f2f2;
  //background-color: white;
  height: 175px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}
.orange{
  color:#00ffff;
}

.home{
  fill: green;
  width:40px;
  height:40px;
}

.image_milieu{
  width:43px;
  height:43px;
}

.milieu{
  margin-top:20%;
  text-align:center;
}

.depot{
  //font-size:20px;
  zoom:1.3;
}

.fleche{
  zoom:1.5;
}

.trait{
  border-top: 3px solid #abdbe3;
  width : 100px;
  text-align:center;
  margin:auto;
  //position:absolute;
  //margin-top:20%;
}

.divsegment{
  margin-top:20px;
  background-color: #f5f3f4;
}

.frais{
  margin-left: 50%;
}

.boutton{
  width: 200px;
  margin:auto;
}

.lastitem{
  margin-bottom: 15px;
}

.lastitemben{
  margin-bottom: 290px;
}

.gris{
  background-color: #f3f2f2;
}

.error-message{
  color: var(--ion-color-danger);
  margin-left: 19px;
}
