<ion-header  class="grid">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../assets/img/min_logo.jpeg" class="image_milieu haut" alt="img/min_logo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="milieu">
        <ion-icon class="orange fleche" name="grid-outline"></ion-icon>
        <ion-label class="depot">Mes commissions</ion-label>
        <div class="trait">

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--  <ion-item>-->
<!--    <ion-label position="floating">Type de transaction</ion-label>-->
<!--    <ion-input type="text"></ion-input>-->
<!--  </ion-item>-->
<!--  <ion-item>-->
<!--    <ion-label position="floating">Montant</ion-label>-->
<!--    <ion-input type="number"></ion-input>-->
<!--  </ion-item>-->
</ion-header><br>

<ion-content>
  <table class="table table-striped">
    <tr>
      <th (click)="sort('id')">ID &nbsp; <i class="fa fa-sort"></i></th>&nbsp;&nbsp;
      <th (click)="sort('montant')">MONTANT &nbsp; <i class="fa fa-sort"></i></th>&nbsp;&nbsp;
      <th (click)="sort('dateDepot')">DATE DEPOT &nbsp; <i class="fa fa-sort"></i></th>&nbsp;&nbsp;
      <th (click)="sort('fraisEnvoi')"> FRAIS ENVOI &nbsp; <i class="fa fa-sort"></i></th>&nbsp;&nbsp;
    </tr>
    <tr *ngFor="let p of pageTransaction | orderBy: key: reverse |paginate:{itemsPerPage:12,currentPage:pg};">
      <td>{{p.id}}</td>&nbsp;&nbsp;
      <td>{{p.montant}}</td>&nbsp;&nbsp;
      <td>{{p.dateDepot}}</td>&nbsp;&nbsp;
      <td>{{p.fraisEnvoi}}</td>&nbsp;&nbsp;
    </tr>

  </table>
  <pagination-controls (pageChange)="pg = $event"></pagination-controls>
  <ion-button size="small" color="danger" class="btn">Total</ion-button>
</ion-content>
