.fondecranun {
  /* On met en place le fond d'écran */
  min-height: 100%;
  min-width: 1024px;
  /* On indique un redimensionnement proportionnel */
  width: 100%;
  height: auto;
  /* L'image est positionnée en haut à gauche */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
    .fondecranun {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}


.conteneur{
  display: flex;
  justify-content: center;
}
.fondecrandeux {
  position:absolute;
  top: 50%;
  transform: translate(0%, -50%);
  //clip-path:ellipse(50% 50%);
  height: 150px;
  width: 150px;
}
.blanc{
  margin-top: 90%;
  display: flex;
  justify-content: center;
  transform: translate(0%, -50%);
  background-color: white;
  height: 212px;
  width: 212px;
  border-radius:50%;
}
